body {
  margin: 0; /* Remove a margem padrão da página */
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', sans-serif, Tahoma, Geneva, Verdana, sans-serif; /* Define a hierarquia de fontes */
  background-color: transparent; /* Define o fundo da página como transparente */
}
.cadastro {
  margin: 0; /* Remove a margem padrão da página */
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', sans-serif, Tahoma, Geneva, Verdana, sans-serif; /* Define a hierarquia de fontes */
  background-color: transparent; /* Define o fundo da página como transparente */
  overflow: hidden;
}

:root {
  --tamanho-header: 80px; /* Altura do cabeçalho */
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px); /* Altura do banner dinâmica */
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px); /* Altura do simulador dinâmica */
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px); /* Altura do login dinâmica */
  --tamanho-footer: 65px; /* Altura do rodapé */
}

.Home {
  background-image: url(../assets/imgs/home.jpg);
  background-repeat: no-repeat;
  height: 100vh;  
  background-size: cover;
}
.fundo {
  background-image: url(../assets/imgs/Fundo.png);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  display: flex; /* Usa flexbox para o layout */
  width: 80%; /* Largura de 80% da tela */
  margin: auto; /* Centraliza horizontalmente */
}

.header {
  height: var(--tamanho-header); /* Altura do cabeçalho */
 /* border-bottom: 2px solid #C19A6B;  Borda inferior azul */
  padding-top: 8px;
}

.header .container {
  justify-content: space-between; /* Espaça os elementos no container */
  align-items: center; /* Alinha os itens verticalmente ao centro */
  height: 100%; /* Altura total do container pai */
}

.header a {
  text-decoration: none; /* Remove sublinhado de links */
  color: #7B1E1E; /* Cor dos links */
  font-size: 17px;
}

.agora {
  font-weight: 800; /* Peso da fonte mais forte */
}

.navbar {
  width: 300px; /* Largura da navbar */
  display: flex; /* Layout flexível */
  align-items: center; /* Alinha os itens ao centro verticalmente */
  justify-content: space-between; /* Espaçamento entre os itens */
  list-style: none; /* Remove marcadores de lista */
  background-color: transparent;
}

.titulo {
  background-image: url(../assets/imgs/Logo.png);
  background-size: cover;
  height: 70px;
  width: 200px;
}

.header h1 {
  margin: 0; /* Remove margens do título */
}

.banner {
  height: var(--tamanho-banner); /* Altura do banner */
}

.banner .container {
  justify-content: center; /* Centraliza conteúdo horizontalmente */
  align-items: flex-start; /* Centraliza verticalmente */
  height: 100%; /* Altura total do banner */
}

.banner .container p {
  width: 50%; /* Largura do parágrafo */
  margin: 0; /* Remove margens */
  padding: 15px; /* Remove padding */
  font-size: 36px; /* Tamanho da fonte */
  margin-top: 40px;
}

.banner .container span {
  font-weight: 800; /* Destaca o texto */
}

.box img {
  width: 300px; /* Define largura das imagens */
}

.box {
  display: flex; /* Layout flexível */
  flex-direction: column; /* Direção em coluna */
  align-items: center; /* Centraliza itens */
}

/* FOOTER */

.footer {
  height: 150px; /* Altura do rodapé */
  color: #fff; /* Cor do texto */
  display: flex; /* Layout flexível */
  font-size: 15px; /* Tamanho da fonte */
}

.footer .container {
  justify-content: center; /* Centraliza conteúdo */
  text-align: center; /* Centraliza texto */
}

.footer .container .version {
  font-size: 12px; /* Tamanho menor para versão */
}

/* LOGIN */

.login {
  height: 100vh; 
  /* background-size: cover; Cobre toda a área */
}

.login .container {
  justify-content: left; /* Centraliza conteúdo */
  align-items: center; /* Centraliza verticalmente */
  height: 100%; /* Altura total */
}

.card {
  width: 50%; /* Metade da largura da tela */
  background-color: rgba(0, 0, 0, 60%); 
  border-radius: 10px; /* Borda arredondada */
  display: flex; /* Layout flexível */
  align-items: center; /* Alinha itens */
  justify-content: space-evenly; /* Espaça itens igualmente */
  color: #C4A484; /* Cor do texto */
  flex-direction: column; /* Direção em coluna */
  height: fit-content; /* Altura ajustada ao conteúdo */
  padding: 30px 0; /* Espaçamento vertical */
}

.card h2 {
  margin: 0; /* Remove margem */
  font-size: 40px; /* Tamanho da fonte */
}

.formulario {
  display: flex; /* Layout flexível */
  height: 90%; /* Altura relativa */
  width: 80%; /* Largura relativa */
  justify-content: space-around; /* Espaçamento uniforme */
  flex-direction: column; /* Direção em coluna */
  color: white; /* Cor do texto */
}

.formulario span {
  font-size: 15px; /* Tamanho do texto */
  font-weight: 900; /* Peso forte */
}

.formulario input {
  border: 2px solid #C4A484; /* Borda azul */
  text-align: center; /* Texto centralizado */
  border-radius: 10px; /* Borda arredondada */
  margin: 0; /* Remove margem */
}

.formulario select {
  border: 2px solid #C4A484; /* Borda azul */
  background-color: white; /* Fundo branco */
  color: gray; /* Cor do texto */
  height: 50px; /* Altura do campo */
  text-align: center; /* Texto centralizado */
  border-radius: 10px; /* Borda arredondada */
  margin: 0; /* Remove margem */
}

.campo {
  display: flex; /* Layout flexível */
  flex-direction: column; /* Direção em coluna */
  justify-content: start; /* Alinha ao início */
  padding: 5px 0; /* Espaçamento vertical */
}

.campo input {
  height: 30px; /*Tamanho das input's*/
}

.botao {
  cursor: pointer; /*Cursor de clique*/
  font-family: "Barlow", sans-serif; /*Fonte*/
  border: 0; /*Sem borda*/
  border-radius: 5px; /*Borda arredondada*/
  font-weight: 600; /*Peso da fonte*/
  font-size: 18px; /*Tamanho da fonte*/
  color: #fff; /*Cor do texto*/
  background-color: #8B0000; /*Cor de fundo*/
  width: 120px; /*Largura do botão*/
  height: 30px; /*Altura do botão*/
  align-self: center; /*Centraliza no eixo do flex container*/
  margin-top: 20px; /*Espaço acima*/
}

.home_p {
  margin-top: 320px;
  color: #fff;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  padding: 15x;
}